<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <link rel="stylesheet" href="./Stylesheet/landing-new.css">
    <link rel="stylesheet" href="./Stylesheet/comp.css">
    <link rel="stylesheet" href="./Stylesheet/download.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
         </head>
<body>
    <%- include('navbar') %>
    <br>
    <br>
    <br>
    
    
    <h2>Answers would be:</h2>
    <div class="down">
        
            <div class="levelbuttons">
              <button onclick="window.location.href='../Answers/answers dsa level 1.docx'"class="level1">DOWNLOAD</button>
          </div>
    
</div>
<div class="sol">
    <p>
        <%=ans.answer1 %> 
    </p>
    <p>
        <%=ans.answer2 %> 
    </p>
    <p>
        <%=ans.answer3 %> 
    </p>
    <p>
        <%=ans.answer4 %> 
    </p>
    <p>
        <%=ans.answer5 %> 
    </p>
    <p>
        <%=ans.answer6 %> 
    </p>
    <p>
        <%=ans.answer7 %> 
    </p>
    <p>
        <%=ans.answer8 %> 
    </p>
    <p>
        <%=ans.answer9 %> 
    </p>
    <p>
        <%=ans.answer10 %> 
    </p>
</div>
    <%- include('footer') %>
    <script src="../Script/landing.js"></script>
</body>
</html>